/*Task3: Apply CSS to enhance the appearance of the toolbar and components.
Ensure the design is responsive and provides a good user experience across different devices.*/
.header {
  background-color: darkgrey;
  text-align: center;
  padding: 20px 0;
}

.gallery {
  width: 100%;
  background-color: bisque;
}

.tour {
  align-items: center;
  margin-bottom: 20px;
}

.tour-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.tour-info {
  flex: 1;
}

.tour-divider {
  border-top: 3px solid black; 
  margin: 20px 0; 
}

.loader, .error, .no-tours {
  text-align: center;
  margin: 20px 0;
}
